#character_stats {
    display: inline-block;
    width: 10%;
    float: left;
    left: 50%;

}

#inventory {
    display: inline-block;
    margin-left: 15%;
    height: 200px;

}

#canvas {
    display: inline-block;
    left: 50%;
}

.list-group {
    background-color: white;
    border: 1px solid #000000;
}

.list-group-item {
    background-color: white;
    color: #131313;
}
